body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}


.upper-head{
    display: flex;
}

.logo{
    padding: 25px;

}

ul{
    list-style: none;
}
.menu{
    background-color: #fff;
}
.menu ul li{
    padding: 1rem;
    font-size: 1.5rem;
    color:#000;
    cursor: pointer;
}
.menu li a{
    text-decoration: none;
    transition: color 0.4s ease;
    color: black;
}
.menu-wrap{
position: fixed;
top: 0;
right: 0.4rem;
z-index: 1;
}
.menu-wrap .toggler{
    position: absolute;
    top: 0;
    right: 0.4rem;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    right: 0.4rem;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .hamburger>div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.menu-wrap .hamburger>div::before, .menu-wrap .hamburger>div::after{
content: '';
position: absolute;
z-index: 1;
top: -10px;
width: 100%;
height: 2px;
background:inherit;
}
.menu-wrap .hamburger>div::after{
    top:10px;
}
.menu-wrap .toggler:checked + .hamburger>div{
    transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger>div::before,
.menu-wrap .toggler:checked + .hamburger>div::after{
    top: 0;
    transform: rotate(90deg);
}
.menu-wrap .toggler:checked:hover + .hamburger>div{
    transform: rotate(225deg);
}
.menu-wrap .menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu>div{
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content:center;
    transform: scale(0);
    transition: all 0.4s ease;
}
.menu-wrap .menu>div>div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu>div{
    transform: scale(1);
    transition-duration: 0.2s;
}
.menu-wrap .toggler:checked ~ .menu>div>div{
    opacity: 1;
    transition: opacity 0.4s ease;
}
.nav-desktop{
    display: none;
}




main{
    text-align: center;
    margin:5%;
}
main h1{
    font-size: 40px;
    color: rgb(53, 52, 52);
}
main p{
    margin: 5%;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10%;
    color:rgb(53, 52, 52) ;
}
.main-button{
    width:60%;
    height:3rem;
    border-radius: 20px;
    background: linear-gradient(to right ,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: white;
    border:limegreen;
    cursor: pointer;
}

.main-button:hover{
    color: rgb(0, 0, 0);
    background: rgb(214, 214, 214);
    
    /* color:linear-gradient(to right ,hsl(136, 65%, 51%), hsl(192, 70%, 51%)) ; */
}

.images{
    width:100%;
    background-image: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.mobile-image{
    width: 100%;
}

.why-easy-container{
    
    background-color: rgb(240, 240, 240);
    text-align: center;
    padding: 10%;
    padding-right: 15%;
}

h2{
    
    text-align: center;
    font-size: 30px;
    margin-bottom: 20%;
}
h3{
    font-size: 25px;
    margin-bottom: 0;
}

h4{
    font-size: 20px;
}

.why-easy-container div{
    margin-bottom: 20%;
    
    margin-left: 10%;
    color: rgb(53, 52, 52);
}
.article-content{
    text-align: center;
}

.article{
    
    width: 90%;
    padding: 5%;
}




.articles-text div{
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10%;
    
}
.articles-text {
    text-align: left;
    font-size: 18px;
    color: rgb(53, 52, 52);
}



.list{
    padding-right: 10%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list li{
    margin-bottom: 10%;
}

footer{
    background-color: hsl(233, 26%, 24%);
    color: white;

}

.last-logo{
    margin-top: 40px;
    background-color: white;
    
}

.logo-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transform: translateX(-3%);
    cursor: pointer;
}

.social-media {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-bottom: 10px;
}

.last-button{
    border-radius: 20px;
    background: linear-gradient(to right ,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: white;
    border:limegreen;
    height: 50px;
    width:100px
}
a{
    text-decoration: none;
    color: rgb(212, 208, 208);
}
.button{
    display: none;
}

.list li{
    cursor: pointer;
}



@media(min-width:1100px) {
    .nav-desktop{
        display: block;

    }
    .menu-wrap{
        display: none;
    }
    .button-set{
        cursor: pointer;
    }

    .upper-head{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 10px;
    }

    .logo{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 15px;
    }

    a{
        color: black;
    }

    .desktop-menu{
        display: flex;
        column-gap: 1rem;
        
        
    }

    .button{
        display: block;
        cursor: pointer;
    }

    .button ul{
        display: flex;
        align-items: flex-end;
        margin-top: 0;

    }
    .button-set{
        border-radius: 20px;
        background: linear-gradient(to right ,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        color: white;
        border:limegreen;
        height: 50px;
        width:150px
    }

    .main-content{
        display: flex;
    }
    .main-content .images{
        order:1;
    }

    .why-easy-container{
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .why-easy-container .why-easy-icons{
        display: flex;
        flex-direction: row;
        column-gap: 100px;
        margin-left: 5%;
        margin-bottom: 0;
        
    }
    .why-choose-icons {
        margin-bottom: 0;
    }
    .why-choose-icons{
        margin: 0;
    }

    .why-easy-container h2{
        margin-bottom: 40px;
    }
    
    .why-easy-container :first-child {
        margin-bottom: 30px;
    }

    .why-easy-icons{
        margin-left: 0;
        margin-bottom: 100px;
    }
    .why-easy-icons :first-child{
        margin-left: 0px;
        
    }
    .why-easy-icons {
        width:100%;
        text-align: center;
        margin-right: 30px;
    }
    .why-easy-icons div{
        margin:0;
    } 

    .article-content{
        display: flex;
       justify-content: space-between;
        }

    /* .article{
        height: 150px;
        width: 300px;
        padding: 0;
    } */
    
    .articles-container h2{
        margin-bottom: 50px;;
    }
    .articles-text{
        margin-top: 10px;
        width: 300px;
    }
    

    footer{
        display: flex;
        justify-content: space-between;
    }

    footer .final-contents{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .logo-media{
        margin-left: 50px;
    }

    .final-contents{
        margin-right: 50px;
    }

    .final-contents ul {
        width:250px;
    }
    .list li button{
        cursor: pointer;
    }

}

